label live-amd64
	menu label ^Debian 12 Bookworm (amd64)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash

label live-amd64-failsafe
	menu label Debian 12 Bookworm (amd64 fail-safe mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788
